<h1>MongoDB</h1>
<h3>In system terminal:</h3>
<p>mongoimport --db meetup --collection census_industry_2013 --type csv --headerline --file zbp13detail.txt</p>
<br><br>
<h3>In mongo terminal:</h3>
<p>show databases;</p>
<p>use meetup;</p>
<p>show collections;</p>
<p>db.census_industry_2013.count()</p>
<p>db.census_industry_2013.findOne()</p>
<p>db.census_industry_2013.find({zip: {$gte: 83200, $lt: 84000}}).count()</p>
<p>db.census_industry_2013.find({zip: {$gte: 83200, $lt: 84000}, "n1000": {$gt: 0}}).count()</p>
<p>db.census_industry_2013.find({zip: 83404}).count()</p>
<p>db.census_industry_2013.findOne({zip: 83404, naics: 238320}, {_id: 0})</p>
<p>db.census_industry_2013.createIndex({"zip": 1})</p>
<p>db.census_industry_2013.find({zip: 83404}, {_id: 0}).count()</p>
<br><br>
<h3>Multiple ways to do same query:</h3>
<p>db.census_industry_2013.find({zip: {$gte: 83401, $lte: 83404}}, {_id: 0}).count()</p>
<p>db.census_industry_2013.find({$or: [{zip: 83404}, {zip: 83401}, {zip: 83402}, {zip: 83403}]}, {_id: 0}).count()</p>
<p>db.census_industry_2013.find({zip: {$in: [83404, 83401, 83402, 83403]}}, {_id: 0}).count()</p>
<br><br>
<h3>Aggregation pipeline:</h3>
<p>db.census_industry_2013.aggregate([</p>
<p>  { $match: {zip: {$in: [83401, 83402, 83403, 83404]}}},</p>
<p>  { $group: {_id: "$zip", total_50_99: {$sum: "$n50_99"}}}</p>
<p>])</p>
<br><br>
<h1>Cassandra</h1>
<h3>Import data:</h3>
<p>create KEYSPACE meetup with REPLICATION = {'class': 'SimpleStrategy', 'replication_factor': 2};</p>
<p>use meetup;</p>
<p>create TABLE census_industry_2013 (zip varchar, naics varchar, est int, n1_4 int, n5_9 int, n10_19 int, n20_49 int, n50_99 int, n100_249 int, n250_499 int, n500_999 int, n1000 int, PRIMARY KEY (zip, naics));</p>
<p>copy census_industry_2013(zip, naics, est, n1_4, n5_9, n10_19, n20_49, n50_99, n100_249, n250_499, n500_999, n1000) FROM 'zbp13detail.txt' WITH HEADER=true;</p>
<br><br>
<h3>Queries:</h3>
<p>select * from census_industry_2013 limit 1;</p>
<p>select count(*) from census_industry_2013 WHERE zip IN ('83404', '83403', '83402', '83401');</p>
<p>select sum(n10_19) from census_industry_2013 WHERE zip = '05405';</p>
<br><br>
<h3>User defined functions and aggregations:</h3>
<a href="http://christopher-batey.blogspot.com/2015/05/cassandra-aggregates-min-max-avg-group.html">http://christopher-batey.blogspot.com/2015/05/cassandra-aggregates-min-max-avg-group.html</a>
<p>CREATE FUNCTION state_group_and_total( state map<text, int>, type text, amount int )</p>
<p>CALLED ON NULL INPUT</p>
<p>RETURNS map<text, int></p>
<p>LANGUAGE java AS '</p>
<p>Integer count = (Integer) state.get(type);  if (count == null) count = amount; else count = count + amount; state.put(type, count); return state; ' ;</p>
<br><br>
<p>CREATE OR REPLACE AGGREGATE group_and_total(text, int)</p>
<p>SFUNC state_group_and_total</p>
<p>STYPE map<text, int></p>
<p>INITCOND {};</p>
<br><br>
<p>select group_and_total(zip, n1000) from census_industry_2013;</p>
<br><br>
<h2>Using Cassandra sandbox</h2>
<p>For the Cassandra sandbox tutorial, we will use the data built into the application. COPY doesn't seem to work and getting CSVs into Cassandra is gnarly.</p>
<br><br>
<h3>Set up data</h3>
<p>Run the Sample Inserts.cql and Sample Queries.cql</p>
<br><br>
<h3>Use Spark!</h3>
<p>In command line:</p>
<p>dse spark</p>
<p>val results = csc.sql("Select * from videodb.videoevent")</p>
<p>results.collect().foreach(println)</p>
<br><br>
<h3>Do a groupby in Spark</h3>
<p>val results = csc.sql("SELECT SUM(video_timestamp) from videodb.video_event GROUP BY username")</p>
<p>results.collect().foreach(println)</p>
