<h1>Tools for midsize data</h1>
<h2>Virtual environments</h2>
<p>VMWare workstation (for PC and Linux only)</p>
<a href="https://my.vmware.com/web/vmware/free#desktop_end_user_computing/vmware_workstation_player/12_0">Player link</a>
<br><br>
<h2>Linux distro</h2>
<a href="http://www.ubuntu.com/download/desktop">Ubuntu!</a>
<br><br>
<h2>Dataset for tutorial</h2>
<h4>Population data from census for 2015</h4>
<a href="http://www.census.gov/popest/data/national/totals/2015/files/NST-EST2015-alldata.csv">Link to CSV</a>
<br><br>
<h2>R</h2>
<a href="https://www.r-project.org/">R project</a>
<a href="https://cran.r-project.org/doc/manuals/r-release/R-intro.html">Tutorial</a>
<h4>In Ubuntu:</h4>
<p>> sudo apt-get install r-base-core</p>
<p>> R</p>
<h4>To pull in some data:</h4>
<p>> DemoData <- read.csv("NST-EST2015-alldata.csv", header=TRUE)</p>
<p>> attributes(DemoData)</p>
<p>> summary(DemoData)</p>
<h4>To plot data:</h4>
<p>> plot(DemoData$BIRTHS2015, DemoData$NPOPCHG_2015, xlab="Births", ylab="Population change")</p>
<h4>To download other packages:</h4>
<p>> install.packages("ggplot2")</p>
<h4>To exit:</h4>
<p>> quit()</p>
<h3>Things to investigate if you really love R:</h3>
<a href="https://www.rstudio.com/">RStudio</a>
<a href="http://shiny.rstudio.com/">Shiny</a>
<br><br>
<h2>Python</h2>
<a href="https://www.python.org/downloads/">Python downloads</a>
<a href="http://www.diveintopython3.net/">Tutorial</a>
<h4>In Ubuntu:</h4>
<p>> sudo apt-get install python3</p>
<p>> python3</p>
<h4>To exit:</h4>
<p>> quit()</p>
<h3>Get SciPy packages!</h3>
<a href="http://www.scipy.org/">SciPy website</a>
<a href="https://www.continuum.io/downloads">Anaconda -- easiest way to get it all to work on Mac and Windows</a>
<h4>In Ubuntu:</h4>
<p>> sudo apt-get install python3-numpy python3-scipy python3-matplotlib ipython3 ipython3-notebook python3-pandas</p>
<p>> sudo apt-get install python3-pip</p>
<p>> sudo pip3 install bokeh</p>
<h3>Start up ipython notebook</h3>
<p>Download the meetup notebook - Meetup Notebook.ipynb</p>
<p>> ipython notebook</p>
<h3>Machine learning in Python</h3>
<a href="http://scikit-learn.org/stable/">Scikit-learn</a>
<br><br>
<h2>ECMAScript</h2>
<p>It's in your browser!</p>
<h3>D3</h3>
<a href="http://d3js.org/">D3.js website</a>
<h4>Example</h4>
<p>Meetup D3 example - Meetup-D3.html</p>
<p>> python3 -m http.server</p>
<p>Navigate to localhost:8000</p>
<h4>Other resources</h4>
<a href="http://tributary.io/">Online D3 editor</a>
<a href="http://vega.github.io/">Vega -- higher level library</a>
<br><br>
<h2>Databases</h2>
<h3>Postgres</h3>
<a href="http://www.postgresql.org/download/">Postgres download</a>
<h4>In Ubuntu:</h4>
<p>> sudo apt-get install postgresql</p>
<h3>MongoDB</h3>
<a href="https://www.mongodb.org/downloads#production">MongoDB download</a>
<h4>In Ubuntu:</h4>
<p>> sudo apt-get install mongodb</p>
<h4>Input data:</h4>
<p>> mongoimport --db test_database --collection demo_data --type csv --headerline < NST-EST2015-alldata.csv</p>
